[Desktop Entry]
Type=Application
StartupWMClass=se.danielnylander.bildstod
Name=Visual Support
Name[sv]=Bildstöd
GenericName=Visual Schedule Tool
Comment=Visual schedule and picture support tool
Comment[sv]=Visuellt schema och bildstödsverktyg
Exec=bildstod
Icon=se.danielnylander.bildstod
Terminal=false
Categories=Utility;Accessibility;Autismappar
StartupNotify=true
Keywords=visual;schedule;picture;accessibility;
