[Desktop Entry]
Type=Application
Name=Bildstöd
GenericName=Visual Schedule Tool
Comment=Visual schedule and picture support tool
Exec=bildstod
Icon=se.danielnylander.bildstod
Terminal=false
Categories=Utility;Accessibility;
StartupNotify=true
Keywords=visual;schedule;picture;accessibility;
